#container {
  width: 60px;
  height: 75px;
  position: relative;
  top: 70%;
}

#speed-limit-sign {
  width: 100%;
  height: 100%;
}

#speed-limit {
  position: absolute;
  font-size: 30px;
  font-weight: bolder;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.hidden {
  display: none;
}